In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

数据读取：
- 编码为big5
- test.csv文件没有提供表头
- 替换NR值
- 替换

In [2]:
train = pd.read_csv('train.csv',encoding='big5')

In [3]:
cols = ['id', '測項', '0', '1', '2', '3', '4', '5', '6', '7', '8']
test  = pd.read_csv('test.csv',names=cols,encoding='big5')

In [4]:
train.head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [13]:
train.columns

Index(['日期', '測站', '測項', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23'],
      dtype='object')

In [15]:
train.測項.unique()

array(['AMB_TEMP', 'CH4', 'CO', 'NMHC', 'NO', 'NO2', 'NOx', 'O3', 'PM10',
       'PM2.5', 'RAINFALL', 'RH', 'SO2', 'THC', 'WD_HR', 'WIND_DIREC',
       'WIND_SPEED', 'WS_HR'], dtype=object)

In [5]:
test.head()

     id        測項     0     1     2     3     4     5     6     7     8
0  id_0  AMB_TEMP    21    21    20    20    19    19    19    18    17
1  id_0       CH4   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.8
2  id_0        CO  0.39  0.36  0.36   0.4  0.53  0.55  0.34  0.31  0.23
3  id_0      NMHC  0.16  0.24  0.22  0.27  0.27  0.26  0.27  0.29   0.1
4  id_0        NO   1.3   1.3   1.3   1.3   1.4   1.6   1.2   1.1   0.9

In [6]:
train.replace('NR','0',inplace=True)
test.replace('NR','0',inplace=True)

In [7]:
month_to_data = {}
for month in range(12):
    month_data = []
    for day in range(20):
        month_data.append(train.iloc[(month*20+day)*18:(month*20+day+1)*18,3:])
    month_to_data[month]=np.concatenate(month_data,axis=1)

In [8]:
train_x = []
train_y = []
for month in range(12):
    data = month_to_data[month]
    for i in range(471):
        train_x.append(data[:,i:i+9].reshape(-1))
        train_y.append(data[9,i+9])
train_x = np.array(train_x,dtype=float)
train_y = np.array(train_y,dtype=float)

In [9]:
test_x = []
for i in range(240):
    test_x.append(test.iloc[i*18:(i+1)*18,2:].values.reshape(-1))
test_x = np.array(test_x,dtype=float)

In [10]:
mean = train_x.mean(axis=0)
train_x -= mean
std = train_x.std(axis=0)
train_x /= std
test_x -= mean
test_x /= std

In [18]:
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)

(5652, 162)
(5652,)
(240, 162)

In [20]:
from sklearn.utils import shuffle
train_x, train_y = shuffle(train_x, train_y,random_state=0)